html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  display: block;
  background-color: #2b3851;
  position: relative;
  z-index: 1;
}

.robot {
  width: 320px;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}
